<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengniao.news">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许读取电话状态SIM的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DetailsActivity"
            android:process=":details" />
        <activity
            android:name=".ui.activity.InnerBrowserActivity"
            android:process=":innerBrower" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity android:name=".module.read.YueFMActivity" />
        <activity android:name=".module.test.MyTestActivity" />
        <activity android:name=".module.test.PropertyAnimationActivity" />
        <activity android:name=".module.test.CustomizeViewActivity" />
        <activity
            android:name=".module.test.otherapp.OtherAppFeaturesActivity"
            android:label="@string/title_activity_other_app_features"
            android:theme="@style/AppTheme" />
        <activity android:name=".module.test.otherapp.neteasymusic.NetEasySongListActivity" />
        <activity android:name=".module.test.otherapp.neteasymusic.NetEasyMusicActivity"></activity>
    </application>

</manifest>